/* ==========================================================================
   WOMEN IN TECHNOLOGY:
      Web Design Basics – February 28, 2015

   PRESENTER:
      Elise Blanchard

   COLORS USED:
      Dark Gray: #333333 
      Lighter Gray: #CCCCCC
      Blue: #35B1BD
      Darker Blue: #267f88  
   ========================================================================== */



/* ==========================================================================
   Universal Styles
   ========================================================================== */
    * {
        box-sizing: border-box;
        line-height: 1.5;
        color: #333;
        font-family: 'Open Sans', sans-serif;
    }

    body { }



/* ==========================================================================
   Universal Wrapper Styles
   ========================================================================== */
    .wrapper { }
    .inner { }



/* ==========================================================================
   Global Styles
   ========================================================================== */



/* ==========================================================================
   Nav Styles
   ========================================================================== */



/* ==========================================================================
   Header Styles
   ========================================================================== */



/* ==========================================================================
   Main / Resume Styles
   ========================================================================== */



/* ==========================================================================
   Footer Styles
   ========================================================================== */



